.container{
    display: flex;
    flex-direction:column;
    height:100%;
    width:100%
    background-color:rgb(0, 0, 0);
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

html,body{
    height: 100%;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
*{
    font-family:Comfortaa,Arial;
    font-size: 28px;
}

#player{
    padding-top: 0;
    padding-bottom:0 ;
    padding-left: 0;
    width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;

    background-color: rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px;
    padding-bottom:30px;
    border: none;
    border-radius: 18px;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
}
h1 {
    font-size: 36px;
    color: white;
}

#controls {
    font-size: 36px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#prevButton {
    color: white;
}

#nextButton {
    color: white;
}

.shuffle-on {
    color: red; /* Change to your desired color */
}

.shuffle-off {
    color: white;
}

#songInfo {
    margin: 20px 0;
}

#songThumbnail {
    border-radius: 15px;
    height:500px;
    width:600px;
}

h2 {
    font-size: 24px;
    color: white;
    margin: 10px 0;
}

h3 {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}

audio {
    width: 100%;
}

